---
layout: default
---

{% capture title %}
  {% if page.image_title and page.image_title != nil and page.image_title != "" %}
    {{ page.image_title }}
  {% elsif page.image_alt and page.image_alt != nil and page.image_alt != "" %}
    {{ page.image_alt }}
  {% elsif page.description and page.description != nil and page.description != "" %}
    {{ page.description }}
  {% else %}
    Missing title text.
  {% endif %}
{% endcapture %}

<style>
    #alt-text {
        width: 100%;
        min-height: 7rem;
    }

    #meme-image {
        max-width: 66%;
    }
</style>

<div class="text-center">
    <h1>{{ page.title }}</h1>
    <img src="{{ page.image_url }}" alt="{{ page.image_alt | escape }}" title="{{ title | strip | escape }}" id="meme-image"/>
    <hr />
    <textarea id="alt-text" class="">{{ content | remove: '<p>' | remove: '</p>' | escape }}</textarea>
    <br />
    <button type="button" onclick="copy()" class="btn btn-primary px-6">Copy</button>
    <button type="button" onclick="reset()" class="btn btn-outline px-6">Reset</button>
</div>

<script>
    function copy()
    {
        var str = document.getElementById('alt-text');
        window.getSelection().selectAllChildren(str);
        document.execCommand("Copy")
    }

    function reset()
    {
        document.getElementById('alt-text').value = "{{ content  | remove: '<p>' | remove: '</p>' | escape }}";
    }
</script>